* {
    margin: 0;
    box-sizing: border-box;
    padding: 0
}

.container {
    max-width: 80%;
    margin: 0 auto;
    /* background-color: beige;   */
    display: flex;
    align-items: center;
}

.items{
    width: 600px;
    height: 330px;
    margin: 0 auto;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    height: 100%;
    display: none;
    position: relative;
}

.item.active {
    display: block;
}

.prev, .next {
    position: absolute;
    padding: 5px 20px;
    transform: translate(-50%);
    z-index: 999;
    background-color: bisque;
    color: black;
    border-radius: 40px;
}

.prev {
    top: 50%;
    left: -80px;
    transform: translate(0, -50%);
}

.next {
    top: 50%;
    right: -80px;
    transform: translate(0, -50%);
}

.prev:hover, .next:hover {
    transition: 1s background-color 0.1s; 
    background-color: black;
    color:bisque;
}